<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'calenda/img/cal.png' %}">
  <link rel="stylesheet" href="{% static 'calenda/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'calenda/css/style.css' %}"><link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

  <title>Calendario</title>
</head>
<body>

  {% block content %}

  {% endblock %}

</body>
<script src="{% static 'calenda/js/jquery.min.js' %}"></script>
<script src="{% static 'calenda/js/app.js' %}"></script>
<script>
    var csrf_token = '{{ csrf_token }}'

</script>
</html>
